click
cupy-cuda12x
dartsort @ git+https://github.com/cwindolf/dartsort@main
dredge @ git+https://github.com/evarol/dredge@main
hdbscan
h5py
matplotlib
mock
numba
numpy
ibllib @ git+https://github.com/int-brain-lab/ibllib@develop
ibl-neuropixel >= 1.0.1
ipython
phylib >= 2.5.0
pydantic
pyfftw
pytest
pyqt5
scipy
spikeinterface
tqdm
viewephys
