click
cupy
dartsort @ git+https://github.com/cwindolf/dartsort@main
dredge @ git+https://github.com/evarol/dredge@main
matplotlib
mock
numba
numpy
ibl-neuropixel >= 1.0.0
phylib >= 2.5.0
pydantic
pyfftw
pytest
scipy
spikeinterface
tqdm
viewephys
