click
dartsort @ git+https://github.com/cwindolf/dartsort@0.1.1
dredge @ git+https://github.com/evarol/dredge@v0.2.2
hdbscan
h5py
matplotlib
mock
numba
numpy >= 1.24
ibllib >= 2.40.0
ibl-neuropixel >= 1.9.1
ipython
pandas
phylib >= 2.6.3
pydantic
pydantic-settings
pyfftw
pytest
pyqt5
scipy
spikeinterface
tqdm
viewephys
pyyaml
